.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: block;
  font-size: 24px;
  color: black;
  overflow: hidden;
}

.content-container {
  float:right;
  display: inline-block;
  height: 100vh;
}

.divider svg{
  width: 2vw;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  background-color: blue;
  float: left
}

.map-container {
  float: left;
  display: inline-block;
}

.article-container {
  width: 45vw;
  height: 100vh;
  overflow-y: scroll;
  display: inline-block;
}

.legend {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 120px;
  width: 160px;
  background: #fff;
  margin: 10px;
  border: 3px solid #000;
  z-index: 5;

  h4 {
    margin-top:5px;
    margin-bottom: 5px;
  }

  span {
    font-size: 18px;
  }
}
