.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: block;
  font-size: 24px;
  color: black;
  overflow: hidden;
}

.content-container {
  float:right;
  display: inline-block;
  height: 100vh;
}

.divider svg{
  width: 2vw;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  background-color: blue;
  float: left
}

.map-container {
  float: left;
  display: inline-block;
}

.article-container {
  width: 45vw;
  height: 100vh;
  overflow-y: scroll;
  display: inline-block;
}
